a {
    color: pink
}

a:hover {
    font-size: 1.5rem;
    color: yellow
}

a:visited{
    color: hotpink;
}

p:hover {
    background: red;
}

p::first-letter{
    font-size: 1.8rem;
}

h1::selection {
    color:yellow;
    background: yellow;
}
p::selection{
    color:yellow;
    background: yellow;
}

h1::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/16x16/ok.png);
    margin-right: 10px;
}