a {
    color: pink
}

a:hover {
    font-size: 1.5rem;
    color: yellow
}

a:visited{
    color: hotpink;
}

p:hover {
    background: red;
}

p::first-letter{
    font-size: 1.8rem;
}

h1::selection {
    color:yellow;
    background: yellow;
}
p::selection{
    color:yellow;
    background: yellow;
}

h1::before {
    content: "";
    margin-right: 6px;
}