
.facebook, .twitter , .youtube , .linkedin{
    display: block;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    float: left;
}

.social {
    position: absolute;
    top: 40%;
    left: 40%;
    margin-bottom: 30px;
    margin-right: 30px;


}

.facebook {
    background-image: url(img/fb.png);
    background-size: cover ;
}

.twitter {
    background-image: url(img/twitter-logo.jpg);
    background-size: cover ;
}

.youtube {
    background-image: url(img/youtube.png);
    background-size: cover ;
}

.linkedin {
    background-image: url(img/linkdin.png);
    background-size: cover ;
}

/* Hover */

.facebook:hover{
    background-image: url(img/fb-hover.png);
    background-size: cover ;
}


.twitter:hover{
    background-image: url(img/tw-hover.png);
    background-size: cover ;
}

.youtube:hover{
    background-image: url(img/youtube-hover.png);
    background-size: cover ;
}
.linkedin:hover{
    background-image: url(img/ln-hover.png);
    background-size: cover ;
}