
.facebook, .twitter , .youtube , .linkedin{
    display: block;
    width: 84px;
    height: 84px;
    margin-right: 20px;
    float: left;
}

.social {
    position: absolute;
    top: 40%;
    left: 40%;
    margin-bottom: 30px;
    margin-right: 30px;


}

.facebook {
    background-image: url(social-sprite.png);
    background-position: 0px;
}

.twitter {
    background-image: url(social-sprite.png);
    background-position: 252px -84px;
}

.youtube {
    background-image: url(social-sprite.png);
    background-position: 84px -84px;
}

.linkedin {
    background-image: url(social-sprite.png);
    background-position: 588px -84px;
}

/* Hover */

.facebook:hover{
    background-image: url(social-sprite.png);
    background-position: 0px 0px;
}


.twitter:hover{
    background-image: url(social-sprite.png);
    background-position: 252px 0px;
}

.youtube:hover{
    background-image: url(social-sprite.png);
    background-position: 84px 0px;

}
.linkedin:hover{
    background-image: url(social-sprite.png);
    background-position: 588px 0px;
}