header {
    background-image: url("../../../public/images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}

#main-slide {
    margin: 0 auto;
    text-align: center;
    height: 25rem;
}

#main-slide-content {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}


#main-slide > div {
    width: 100%;
}

.btn-transparent {
    border: white solid 2px;
    background-color: rgba(255, 255, 255, .25);
    color: rgb(243, 215, 0);
    width: 10rem;
}

.btn-transparent:hover {
    color: white;
}


.btn-yellow {
    background-color:yellow ;
    color: white;
    width: 10rem;
    background-image: -webkit-linear-gradient(top, rgb(242, 227, 109) 0%, rgb(219, 238, 84) 50%, rgb(240, 231, 54) 51%, rgb(222, 222, 30) 100%); 
     
}



.yellow-point {
    color:yellow !important;
}

nav > img {
    width: 30%;
}

#nav-logo {
    background-image: url("../../../public/images/header-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
}


.navbar-nav li:hover{
    text-decoration: underline;
} 

